<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="parent_div">
        <div class="child_div">
            <h1>Add expense</h1>
                <form method="POST" action="{{ url_for('submit_expense') }}">
                    <label for="name" id="name">Expense name
                        <input type="text" name="name" id="name" required>
                    </label>
                    <label for="amount" name="amount" id="amount">Amount
                        <input type="number" name="amount" id="amount" step="0.01" required>
                    </label>
                   
                    <button type="submit">Submit</button>
                    

                    <button class="home_button" type="button">
                        <a href="{{url_for('home_page')}}">Home</a>
                    </button>

                    
               
                </form>

                

               
                
        </div>
    </div>
   
    
   

 
</body>
</html>
