<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

   
   
   <div class="expense_container">

    <h1>Expenses list</h1>
    <p class="my_income"> Monthly Income - ${{"{:.2f}".format(income)}}</p>

    <p class="total_expenses">Monthly Expenses - ${{ "{:.2f}".format(my_expenses) }}</p>

        <ul>
            {% for expense in my_list %}

            <li>{{ expense.name }}: $ {{  "{:.2f}".format(expense.amount) }}</li>

            {%endfor%}
        </ul>

        <button type="button">
            <a href="{{url_for('add_expense')}}">add expense</a>
        </button>

    </div>

    


   
 

    
</body>
</html>
